* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #f9faff;
  font-family: "Manrope", sans-serif;
  padding-top: 67px;
  position: relative; }
  body::after {
    background-image: url("./../images/bg-pattern.svg");
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

header {
  padding: 43px 0 37px;
  position: relative;
  z-index: 1; }
  header::after {
    background-image: url("./../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.main-heading {
  color: #293356;
  font-size: 28px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 17px;
  text-align: center; }

.sub-heading {
  color: #848ead;
  font-size: 15px;
  font-weight: 600;
  text-align: center; }

main {
  padding-top: 54px;
  position: relative;
  z-index: 1; }

.pricing-form {
  background: #ffffff;
  box-shadow: rgba(127, 137, 185, 0.15) 0 20px 30px -5px;
  margin: 0 auto;
  width: 540px; }
  .pricing-form .slider-section {
    padding: 48px 45px 40px;
    /***********************
      WEBKIT SLIDER STYLES
    ***********************/ }
    .pricing-form .slider-section label {
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 1;
      margin-bottom: 30px;
      width: 100%; }
    .pricing-form .slider-section .pageviews-label {
      color: #848ead;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .pricing-form .slider-section .price-label {
      align-items: center;
      color: #848ead;
      display: flex;
      font-size: 16px;
      font-weight: 600; }
      .pricing-form .slider-section .price-label .price {
        color: #293356;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        margin-right: 6px; }
    .pricing-form .slider-section .slider {
      width: 100%; }
    .pricing-form .slider-section input[type="range"] {
      -webkit-appearance: none; }
    .pricing-form .slider-section input[type="range"]:focus {
      outline: none; }
    .pricing-form .slider-section input[type="range"]::-webkit-slider-runnable-track {
      background: linear-gradient(to right, #a4f3eb 0%, #a4f3eb 50%, #ecf0fb 50%, #ecf0fb 100%);
      border: none;
      border-radius: 5px;
      height: 8px;
      width: 100%; }
    .pricing-form .slider-section input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #10d8c4;
      background-image: url("./../images/icon-slider.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
      border-radius: 50%;
      box-shadow: rgba(0, 255, 231, 0.6) 0 15px 30px 0;
      cursor: pointer;
      height: 40px;
      margin-top: -16px;
      position: relative;
      width: 40px; }
      .pricing-form .slider-section input[type="range"]::-webkit-slider-thumb:hover {
        background-color: #7aeadf; }
      .pricing-form .slider-section input[type="range"]::-webkit-slider-thumb:active {
        background-color: #24aea1;
        cursor: grabbing; }
  .pricing-form .toggle-section {
    padding: 0 45px 40px; }
    .pricing-form .toggle-section .billing-toggle {
      align-items: center;
      display: flex;
      justify-content: center; }
      .pricing-form .toggle-section .billing-toggle label {
        color: #848ead;
        font-size: 12px;
        font-weight: 600;
        position: relative; }
      .pricing-form .toggle-section .billing-toggle .discount {
        background: #feede8;
        border-radius: 9.5px;
        color: #ff8d68;
        font-size: 10px;
        font-weight: bold;
        left: 112%;
        padding: 2px 7px 3px;
        position: absolute;
        top: 0;
        white-space: nowrap; }
      .pricing-form .toggle-section .billing-toggle .toggle-wrapper {
        display: flex;
        height: 22px;
        margin: 0 15px;
        position: relative;
        width: 43px; }
        .pricing-form .toggle-section .billing-toggle .toggle-wrapper .radio-btn {
          cursor: pointer;
          height: 100%;
          opacity: 0;
          position: relative;
          width: 50%;
          z-index: 1; }
        .pricing-form .toggle-section .billing-toggle .toggle-wrapper .toggle-bg {
          background: #cfd8ef;
          border-radius: 15px;
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0; }
        .pricing-form .toggle-section .billing-toggle .toggle-wrapper .toggle-switch {
          background: #ffffff;
          border-radius: 50%;
          display: block;
          height: 14px;
          left: 4px;
          position: absolute;
          transition: all 0.1s ease-in-out;
          top: 4px;
          width: 14px; }
        .pricing-form .toggle-section .billing-toggle .toggle-wrapper .radio-btn:hover ~ .toggle-bg {
          background: #7aeadf; }
        .pricing-form .toggle-section .billing-toggle .toggle-wrapper #yearly:checked ~ .toggle-switch {
          left: 25px; }
  .pricing-form .trial-section {
    align-items: center;
    border-top: solid 1px #ecf0fb;
    display: flex;
    justify-content: space-between;
    padding: 35px 45px 30px; }
    .pricing-form .trial-section .trial-info {
      list-style: none; }
      .pricing-form .trial-section .trial-info li {
        color: #848ead;
        font-size: 12px;
        font-weight: 600;
        line-height: 1; }
        .pricing-form .trial-section .trial-info li + li {
          margin-top: 17px; }
        .pricing-form .trial-section .trial-info li::before {
          content: url("./../images/icon-check.svg");
          margin-right: 17px; }
    .pricing-form .trial-section .trial-button {
      background: #293356;
      border: 0;
      border-radius: 20.5px;
      color: #becdff;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      padding: 15px 49px 14px; }
      .pricing-form .trial-section .trial-button:hover {
        color: #ffffff; }
