$white: #ffffff;
$zircon: #f9faff;
$link-water: #cfd8ef;
$link-water-2: #ecf0fb;
$periwinkle: #becdff;
$bali-hai: #848ead;
$rhino: #293356;

$ice-cold: #a4f3eb;
$aquamarine: #80fff3;
$turquoise: #10d8c4;

$bridesmaid: #feede8;
$salmon: #ff8d68;
