$white: #ffffff;
$zircon: #f9faff;
$link-water: #cfd8ef;
$link-water-2: #ecf0fb;
$periwinkle: #becdff;
$bali-hai: #848ead;
$rhino: #293356;

$ice-cold: #a4f3eb; //slider bar
$aquamarine: #80fff3;
$turquoise: #10d8c4;

$bridesmaid: #feede8; //discount bg
$salmon: #ff8d68; //discount text

$manrope: "Manrope", sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $zircon;
	font-family: $manrope;
	padding-top: 67px;
	position: relative;

	&::after {
		background-image: url("./../images/bg-pattern.svg");
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

header {
	padding: 43px 0 37px;
	position: relative;
	z-index: 1;

	&::after {
		background-image: url("./../images/pattern-circles.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.main-heading {
	color: $rhino;
	font-size: 28px;
	font-weight: 800;
	line-height: 1;
	margin-bottom: 17px;
	text-align: center;
}

.sub-heading {
	color: $bali-hai;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

main {
	padding-top: 54px;
	position: relative;
	z-index: 1;
}

.pricing-form {
	background: $white;
	box-shadow: rgba(127, 137, 185, 0.15) 0 20px 30px -5px;
	margin: 0 auto;
	width: 540px;

	.slider-section {
		padding: 48px 45px 40px;

		label {
			align-items: center;
			display: flex;
			justify-content: space-between;
			line-height: 1;
			margin-bottom: 30px;
			width: 100%;
		}

		.pageviews-label {
			color: $bali-hai;
			font-size: 14px;
			font-weight: 800;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		.price-label {
			align-items: center;
			color: $bali-hai;
			display: flex;
			font-size: 16px;
			font-weight: 600;

			.price {
				color: $rhino;
				font-size: 40px;
				font-weight: 800;
				letter-spacing: -1px;
				margin-right: 6px;
			}
		}

		.slider {
			width: 100%;
		}

		/***********************
      WEBKIT SLIDER STYLES
    ***********************/
		input[type="range"] {
			-webkit-appearance: none;
		}

		input[type="range"]:focus {
			outline: none;
		}

		input[type="range"]::-webkit-slider-runnable-track {
			background: linear-gradient(
				to right,
				$ice-cold 0%,
				$ice-cold 50%,
				$link-water-2 50%,
				$link-water-2 100%
			);
			border: none;
			border-radius: 5px;
			height: 8px;
			width: 100%;
		}

		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			background-color: $turquoise;
			background-image: url("./../images/icon-slider.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			border: none;
			border-radius: 50%;
			box-shadow: rgba(0, 255, 231, 0.6) 0 15px 30px 0;
			cursor: pointer;
			height: 40px;
			margin-top: -16px;
			position: relative;
			width: 40px;

			&:hover {
				background-color: #7aeadf;
			}

			&:active {
				background-color: #24aea1;
				cursor: grabbing;
			}
		}
	} //slider-section

	.toggle-section {
		padding: 0 45px 40px;

		.billing-toggle {
			align-items: center;
			display: flex;
			justify-content: center;

			label {
				color: $bali-hai;
				font-size: 12px;
				font-weight: 600;
				position: relative;
			}

			.discount {
				background: $bridesmaid;
				border-radius: 9.5px;
				color: $salmon;
				font-size: 10px;
				font-weight: bold;
				left: 112%;
				padding: 2px 7px 3px;
				position: absolute;
				top: 0;
				white-space: nowrap;
			}

			.toggle-wrapper {
				display: flex;
				height: 22px;
				margin: 0 15px;
				position: relative;
				width: 43px;

				.radio-btn {
					cursor: pointer;
					height: 100%;
					opacity: 0;
					position: relative;
					width: 50%;
					z-index: 1;
				}

				.toggle-bg {
					background: $link-water;
					border-radius: 15px;
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 0;
				}

				.toggle-switch {
					background: $white;
					border-radius: 50%;
					display: block;
					height: 14px;
					left: 4px;
					position: absolute;
					transition: all 0.1s ease-in-out;
					top: 4px;
					width: 14px;
				}

				.radio-btn:hover ~ .toggle-bg {
					background: #7aeadf;
				}

				#yearly:checked ~ .toggle-switch {
					left: 25px;
				}
			}
		}
	} //toggle-section

	.trial-section {
		align-items: center;
		border-top: solid 1px #ecf0fb;
		display: flex;
		justify-content: space-between;
		padding: 35px 45px 30px;

		.trial-info {
			list-style: none;

			li {
				color: $bali-hai;
				font-size: 12px;
				font-weight: 600;
				line-height: 1;

				+ li {
					margin-top: 17px;
				}

				&::before {
					content: url("./../images/icon-check.svg");
					margin-right: 17px;
				}
			}
		}

		.trial-button {
			background: $rhino;
			border: 0;
			border-radius: 20.5px;
			color: $periwinkle;
			cursor: pointer;
			font-size: 12px;
			font-weight: 600;
			line-height: 1;
			padding: 15px 49px 14px;

			&:hover {
				color: $white;
			}
		}
	} //trial-section
} //pricing-form
