$white: #ffffff;
$zircon: #f9faff; //body bg
$link-water: #cfd8ef; //toggle bg
$link-water-2: #ecf0fb; //empty slider bar
$periwinkle: #becdff; //button text
$bali-hai: #848ead; //sub-heading text + "pageviews" + "/month"
$rhino: #293356; //main heading text + "$16.00" + button bg

$ice-cold: #a4f3eb; //slider bar
$aquamarine: #80fff3; //slider button arrows
$turquoise: #10d8c4; //checkmarks + slider button

$bridesmaid: #feede8; //discount bg
$salmon: #ff8d68; //discount text
